body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

/*   top banner style start  */

.top-banner {
    border-radius: 25px;
    display: flex;
    background-color: black;
    width: 80%;
    height: 70vh;
    padding: 30px 40px 0px 40px;
    color: white;
    margin-left: 8%;
    margin-top: 5%;
    overflow: hidden;
    margin-bottom: 3%;
}

.top-info {
    padding-left: 5%;
    padding-top: 8%;
    width: 50%;

}

.top-info h2 {

    font-size: 70px;
}

.top-info a {

    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 5px;
}

.top-info a:hover {
    background-color: brown;
    transition: .5s;
}

.top-image {
    width: 50%;

}

.top-image img {
    width: 90%;

}

/*  top banner style start  */
/*  middle part style start  */

.middle-part {
    width: 80%;
    display: flex;
    margin-left: 8%;
    height: 1200px;
    margin-right: 8%;
}

.menu {
    height: 300px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
}

.link-buttons {
    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;
}

.link-button {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    text-decoration: none;
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.button-red {
    background-color: red;
    color: white;
}


.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4%;
    height: 200px;

}


.match {
    width: px;
    padding: 50px 30px;
    padding-right: px;
    margin-left: 30px;
    border: 1px solid pink;
    border-radius: 5px;
}


.match-img {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match-top-part p {
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 10px;
}

.match-info {
    padding-top: 30px;

    text-align: center;
}

/*  middle part style start  */
/*  footer section style start  */

footer {
    margin-top: px;
    padding-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}

.link a {

    text-decoration: none;
    color: white;
    padding: 20px;

}

.social-link {
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.social a {
    color: white;
    text-decoration: none;
    padding-left: 20px;

}

/*  footer section style start  */
/*  responsive design start  */

@media only screen and (max-width:688px) {
    .top-banner {
        display: flex;
        flex-direction: column;
        overflow: visible;
        width: 350px;
        margin-left: px;
        padding-bottom: 0;
        min-height: 700px;
        justify-content: space-between;
    }

    .top-info {
        position: relative;
        left: 60px;
        text-align: center;
    }

    .top-info h2 {
        font-size: 30px;
    }

    .top-info p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .top-image img {
        width: 200px;
        padding-left: 100px;
    }

    .middle-part {
        display: flex;
        flex-direction: column;
    }

    .menu {
        width: 100%;
        padding-left: 30px;
        margin-left: px;
    }

    .button {
        margin-left: 50px;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);

    }

    .match {
        margin-top: 50px;
        margin-left: 5px;
    }

    footer {
        margin-top: 1500px;
        margin-left: 0;
    }

    .links {
        flex-direction: column;

    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .top-banner {
        display: flex;
        height: 500px;
        overflow: hidden;
        width: 670px;
        margin-left: 8px;
        padding-bottom: 0;
    }

    .top-info {
        padding-left: 5px;
    }

    .top-info h2 {
        font-size: 50px;
    }

    .top-image img {
        position: relative;
        width: 350px;
        left: 30px;
        top: 140px;

    }

    .middle-part {
        flex-direction: column;
    }

    .menu {
        background-color: white;

    }

    .link-buttons {
        flex-direction: row;
        width: auto;
        height: auto;
    }

    .link-button {
        border: 1px solid grey;
        text-align: left;
        font-size: 15px;
        margin-left: 10px;
        padding: 10px 70px;
    }

    .matches {
        grid-template-columns: repeat(2, 1fr);
        height: 200px;

    }

    .match {
        margin-left: 10px;


    }

    footer {
        margin-top: 500px;
        padding-bottom: 100px;
    }

    .links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 20px;
    }
}


@media only screen and (min-width:1024px) and (max-width:1370px) {
    .top-banner {
        width: 1020px;
    }

    .top-info h2 {
        font-size: 40px;
    }

    .menu {
        width: 200px;
        height: 270px;
    }

    .link-buttons {
        width: 200px;
        height: 300px;
    }

    .link-button {
        font-size: 20px;
        margin-top: 15px;
    }


    .match {
        margin-left: 40px;
        width: 225px;
        padding: 50px 5px;
    }

    .match-top-part {}

    .match-top-part img {
        width: 78px;
    }
}

/*  responsive design ended  */